
html{
  font-family: sans-serif;
  margin: auto;
}
header{
  background-color: #703d18;
  text-decoration-color: white;
}
header img {
  border: 2px solid #703d18;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 50px;
}
nav ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 15px;
  }
ul{
  text-decoration: none;
  text-align: center;
  list-style: inside;
  list-style-type:none;
}
a{
    text-decoration: none;
    color: inherit;
    visibility: visible;
}
body{
  padding:0;
  margin:0;
  background-color: tan;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 85%;
}
h1{
  color: black;
  text-align: right;
  grid-column: 2;
}
h2{
  color: black;
  text-align: left;
}
.h2{
  color: black;
  text-align: right;
}
p{
  color: black;
  text-align: left;
  grid-column: 1;
}
.p{
  color: black;
  text-align: right;
  grid-column: 2;
}
.p2{
  color: black;
  text-align: center;
}
figure img{
  border-radius: 50px;
}
footer{
  background-color: #703d18;
}
