
html{
  font-family: sans-serif;
  margin: auto;
}
header{
  background-color: #D2691E;
  text-decoration-color: white;
}
ul{
  text-decoration: none;
  text-align: center;
  list-style: inside;
  list-style-type:none;
}
a{
    text-decoration: none;
    color: inherit;
    visibility: visible;
}
body{
  padding:0;
  margin:0;
  background-color: tan;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
h1{
  color: black;
  text-align: right;
}
h2{
  color: black;
  text-align: left;
}
.h2{
  color: black;
  text-align: right;
}
p{
  color: black;
  text-align: left;
  grid-column: 1;
}
.p{
  color: black;
  text-align: right;
  grid-column: 2;
}
figure img{
  border-radius: 50px;
}
footer{
  background-color: #D2691E;
}
address{
  text-align: center;
}
